<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Re-Mindy</h1>
    <p>Don't forget what is important to you. Let us help you to remind you whatever you need.</p>
    <a type="button" class="btn btn-lg btn-default" href=""><span class="glyphicon glyphicon-flash"></span> Add Submit Here.</a>
    <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span> Need to add a lot more stuff.</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To look at the source code this application, head over to the <a href="https://github.com/pradumnk-mahanta/Remindy" class="alert-link">my Github</a> Profile.
  </div>
</div>
</body>
</html>
